{% extends 'layout.html' %}

{% block body %}
<h1 align="center">Order History</h1>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Customer Name</th>
        <th>Customer Email</th>
        <th>Product Item</th>
        <th>Subtotal Price</th>
      </tr>
    </thead>
    <tbody>
     {% for order in orders_data %}
      <tr >
        <td>{{order.order_number}}</td>

        {% if order.customer %}
          {% if order.customer.first_name %}
            <td>{{order.customer.first_name}}</td>
          {% else %}
            <td></td>
          {% endif %}
        {% else %}
          <td></td>
        {% endif %}

        <td>{{order.email}}</td>

        {% if order.line_items %}
          {% if order.line_items[0].title %}
            <td>{{order.line_items[0].title}}</td>
          {% else %}
            <td></td>
          {% endif %}
        {% else %}
          <td></td>
        {% endif %}

        <td>{{order.subtotal_price}}&#8377;</td>
        <td></td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}




